.full-width-50-50{

    &.section-background-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height:25rem;
    }

    &.full-width-50-50-outer-container{
      &.alignfull{
        margin-left: calc( -100vw / 2 + 100% / 2 );
        margin-right: calc( -100vw / 2 + 100% / 2 );
        max-width: 100vw;
      }
     .full-width-50-50-grid{
            min-height:25rem;
            position: relative;
            @include xy-grid();
            @include flex-align($x:center, $y:stretch);
            padding:0;

        .article-container{
            position: relative;
            @include xy-grid(); 
            margin-bottom: $global-margin;
            @include xy-cell(12,$gutters:0);
           @include breakpoint(medium) {
            @include xy-cell(6,$gutters:0);
           }
          }
         
          article:nth-of-type(odd){
          
            @include flex-align($x:right, $y:middle);
  
          }
          article:nth-of-type(even){
            
           
            @include flex-align($x:left, $y:middle);
          
          }
        
          article {
            @include xy-grid(); 
            position: relative;
          
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
            flex:1 100%;
            min-height:300px;
       
            @include breakpoint(medium) {  
              @include xy-cell(6,$gutters:0);
              min-height: unset;
             
            }
            &.primary-color.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($primary-color,0.6) inset ;}
            &.secondary-color.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($secondary-color,0.6) inset ;}
            &.light-gray.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($light-gray,0.6) inset ;}
            &.medium-gray.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($medium-gray,0.6) inset ;}
            &.dark-gray.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($dark-gray,0.6) inset ;}
            &.theme-color-1.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($theme-color-1,0.6) inset ;}
            &.theme-color-2.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($theme-color-2,0.6) inset ;}
            &.theme-color-3.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($theme-color-3,0.6) inset ;}
            &.theme-color-4.overlay {background-color: transparent;box-shadow: 0 0 0 1000rem rgba($theme-color-4,0.6) inset ;}
            .article-padding{
              @each $breakpoint, $size in $grid-margin-gutters {
                @include breakpoint($breakpoint) {
                  padding: $global-padding $size;
                }
              }
              
            }
            .article-grid{
              @include xy-grid(); 
              @each $breakpoint, $size in $grid-margin-gutters {
                @include breakpoint($breakpoint) {
                  max-width: calc(#{$global-width}  / 2 - #{$size*2});
                  width: calc((100vw / 2) - #{$size*2});
                 
                }
              }   
            }     
            .entry-content{
              @include xy-cell(auto,$gutters:0);
            }
          } 
        }
    
  }
}
.full-width-50-50:nth-last-of-type(odd){
  article:nth-of-type(odd){
    order:1;
    @include breakpoint(medium) {
    order:1;    
    }
  }
  article:nth-of-type(even){
    order:2;
    @include breakpoint(medium) {
    order:2;    
    }
  }

 }
 .full-width-50-50:nth-last-of-type(even){
  article:nth-of-type(odd){
    order:2;
    @include breakpoint(medium) {
    order:1;    
    }
  }
  article:nth-of-type(even){
    order:1;
    @include breakpoint(medium) {
    order:2;    
    }
  }

}


//BLOCK ACCORDION
.block-accordion{
  &.alignfull{
    margin-left: calc( -50vw + 50% );
    margin-right: calc( -50vw + 50% );
    max-width: 100vw;
    padding:0;
    overflow: hidden;

  }
}
 
//BACKGROUND VIDEO
.background-video{
  &.alignfull{
    margin-left: calc( -100vw / 2 + 100% / 2 );
    margin-right: calc( -100vw / 2 + 100% / 2 );
    max-width: 100vw;
      padding:0;
      margin-bottom: $global-margin;
  }
  .background-video-container {
   
    position: absolute;
    @include breakpoint(small) {
      background-size: cover;
      background-position: center;
      height: rem-calc(400);
      position: relative;
      margin:  0;
    }
    @include breakpoint(medium) {
      height:rem-calc(500);
    }
    @include breakpoint(large) {
      height: rem-calc(500);
    }
    @include breakpoint(xlarge) {
      height: rem-calc(500);
    }
  
    .background-video-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    video {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
  }
}