.full-width-50-50{

    &.section-background-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height:25rem;
    }

    &.full-width-50-50-outer-container{
      &.alignfull{
        margin-left: calc( -100vw / 2 + 100% / 2 );
        margin-right: calc( -100vw / 2 + 100% / 2 );
        max-width: 100vw;
      }
     .full-width-50-50-grid{
            min-height:25rem;
            position: relative;
            @include xy-grid();
            @include flex-align($x:center, $y:stretch);
            padding:0;

        .article-container{
            position: relative;
            @include xy-grid(); 
            margin-bottom: $global-margin;
            @include xy-cell(12,$gutters:0);
           @include breakpoint(medium) {
            @include xy-cell(6,$gutters:0);
           }
          }
         
          article:nth-of-type(odd){
          
            @include flex-align($x:right, $y:middle);
  
          }
          article:nth-of-type(even){
            
           
            @include flex-align($x:left, $y:middle);
          
          }
        
          article {
            @include xy-grid(); 
            position: relative;
          
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
            flex:1 100%;
            min-height:300px;
       
            @include breakpoint(medium) {  
              @include xy-cell(6,$gutters:0);
              min-height: unset;
             
            }
           		@each $color,
           		$code in $foundation-palette {

           		  &.#{$color}.overlay {
           		    background-color: transparent;
           		    box-shadow: 0 0 0 1000rem rgba($code, 0.6) inset;
           		  }

           		}
            .article-padding{
              @each $breakpoint, $size in $grid-margin-gutters {
                @include breakpoint($breakpoint) {
                  padding: $global-padding $size;
                }
              }
              
            }
            .article-grid{
              @include xy-grid(); 
              @each $breakpoint, $size in $grid-margin-gutters {
                @include breakpoint($breakpoint) {
                  max-width: calc(#{$global-width}  / 2 - #{$size*2});
                }
              }   
            }     
            .entry-content{
              @include xy-cell(auto,$gutters:0);
            }
          } 
        }
    
  }
}
.full-width-50-50:nth-last-of-type(odd){
  article:nth-of-type(odd){
    order:1;
    @include breakpoint(medium) {
    order:1;    
    }
  }
  article:nth-of-type(even){
    order:2;
    @include breakpoint(medium) {
    order:2;    
    }
  }

 }
 .full-width-50-50:nth-last-of-type(even){
  article:nth-of-type(odd){
    order:2;
    @include breakpoint(medium) {
    order:1;    
    }
  }
  article:nth-of-type(even){
    order:1;
    @include breakpoint(medium) {
    order:2;    
    }
  }

}


