
section, div {
	@each $color, $code in $foundation-palette {
		&.#{$color} {
			background-color: $code;
			color:color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance) !important;
			
		}
	}
}
section article {
	@each $color, $code in $foundation-palette {
		&.#{$color} {
			background-color: $code;
			color:color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance) !important;
		}
	}
}