.acf-accordion{
	.acf-accordion-container {
		@include xy-grid-container;
		&.alignfull{
			.acf-accordion-grid{
		  margin-left: calc( -50vw + 50% );
		  margin-right: calc( -50vw  + 50%  );
		  max-width: 100vw;
			}
	
		  .acf-accordion-content{
			@include xy-cell(12, $gutters:0);
		}
		}
		.acf-accordion-grid{
			@include xy-grid;
			.section-header{
				@include xy-cell(12);
			}
			.acf-accordion-content{
				@include xy-cell(12);
			}
		}
	}
}
.block-accordion{
	margin-left: calc( -50vw + 50% );
	margin-right: calc( -50vw  + 50%  );
	max-width: 100vw;
	padding-left: 0;
	padding-right: 0;
	&.alignfull{
		.block-accordion-grid{
			margin-left: calc( -50vw + 50% );
	margin-right: calc( -50vw  + 50%  );
	max-width: 100vw;
		}
	}
	.block-accordion-container {
		@include xy-grid-container;
		.block-accordion-content{
			@include xy-cell(12);
		
	
		}
	}

}
.accordion{
	.accordion-item{
		@each $color, $code in $foundation-palette {
			&.#{$color} {
				.accordion-title{
				background-color: $code;
				color:color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance) !important;
				&:hover,
				&:focus {
					background-color: scale-color( $code, $lightness: 10%) ;
					color:color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance) !important;
				}
			}
			}
			}
		.accordion-title{
			font-size: rem-calc(16);

		}
	
		.accordion-title::before{
			font-size: rem-calc(26);
			margin:0;
			transform:translateY(-50%);
		}
		.accordion-content{

			.accordion-content-container{
				// @include xy-grid-container;
				// @include xy-grid();
				// @include flex-align($x:center, $y:top);
				// padding-left:0 !important;
				// padding-right:0 !important;
			.accordion-content-inner{
			
				// @include breakpoint(small) {
				// 	@include xy-cell(12);
				//   }
				//   @include breakpoint(large) {
				// 	@include xy-cell(9);
				//   }
				//   @include breakpoint(xlarge) {
				// 	@include xy-cell(8);
				//   }
				}
			}
		}
	}
}
