.acf-carousel{
	.acf-carousel-container{
		@include xy-grid-container;
		&.alignfull{
		  margin-left: calc( -50vw + 50% );
		  margin-right: calc( -50vw  + 50%  );
		  max-width: 100vw;
		  padding-left: 0;
		  padding-right: 0;
		}
		.acf-carousel-grid{
			@include xy-grid;
			.acf-carousel-content{
				@include xy-cell(12);
			}
		}
	}
}

.gallery-carousel{
	.splide__list{
	margin-left:0;	
		.splide__slide{
		padding-bottom:50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		} 
	}
	.splide__arrows{
		font-size: 2rem;
		.splide__arrow{
			&.splide__arrow--prev{	
			left:0;
			}
			&.splide__arrow--next{
			right:0;
			}
		}
	}			
}
  