/* @import url('//use.fontawesome.com/releases/v5.2.0/css/all.css'); */

@media only screen and (min-width: 480px){
  .ewjs-category-wrapper{
    width: 100%;
  }
}

@media only screen and (min-width: 768px){
  .ewjs-category-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px){
  .ewjs-category-wrapper {
    width: 50%;
  }
}
#ew-wrapper{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
}

.ew-content {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}
.ew-content[ewjs-page="root"] {
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ewjs-breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.ewjs-breadcrumbs ul {
  list-style: none;
  display: inline-flex;
}
.ewjs-breadcrumbs li {
  margin-left: 0.5em;
  font-size: 0.8em;
}
.ewjs-breadcrumbs ul li:not(:first-child):before {
  content: " | ";
  margin-right: 0.3em;
}

.ewjs-category-wrapper {
  display: flex;
}
.ewjs-category {
  background-color: #00aeef;
  padding: 0.7em 1.7em 0.7em 0.7em;
  color: #fff;
  margin: 0.3em;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
}
.ewjs-cat-icon {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}


.ewjs-posts-wrapper {
  display: flex;
  width: 100%;
}
.ewjs-posts, .ewjs-download {
  float: left;
  background-color: #00aeef;
  padding: 0.7em 0.7em 0.7em 2.7em;
  color: #fff;
  margin: 0.3em;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
}
.ewjs-posts-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.ewjs-posts.precedent {
  background-color: #7f4796;
}

.ewjs-download.precedent{
  background-color: #525252;
  text-decoration: none;
}
.ewjs-download-btn {
  border: 2px solid #00aeef;
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
  color: #00aeef;
  text-decoration: none;
  transition: all 0.3s ease;
}
.ewjs-download-btn:hover {
  border: 2px solid #00aeef;
  background-color: #00aeef;
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
  color: #fff;
  text-decoration: none;
}
.ewjs-pull-right{
  float: right;
}

.ewjs-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.ewjs-category:hover, .ewjs-posts:hover, .ewjs-download:hover {
  transform: scale(1.02);
  text-decoration: none;  
  background-color: #00455e;
  color: #fff;
}

#ewjs-search {
  margin: 0;
  padding: 0.26em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border: 1px solid #bdbdbd;
  /* box-shadow: -1px 1px 1px #444; */
}

#ewjs-searchBtn {
  margin: 0 0 0 -5px;
  padding: 0.3em;
  background: #00aeef;
  color: #fff;
  border: 0;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  transition: all 0.2s ease;
}

#ewjs-searchBtn:hover, #ewjs-searchBtn:active{
  background-color: #00455e;
}