.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(350);

  @include breakpoint(medium) {
    height: rem-calc(450);
  }
  @include breakpoint(large) {
    height:100%;
  }

}

.grid-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom:70%;
}
