.acf-flexible-article{
	&.section-background-image{
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.acf-flexible-article-container{
		@include xy-grid-container;
		&.alignfull{
			margin-left: calc( -50vw + 50% );
			margin-right: calc( -50vw + 50% );
			max-width: 100vw;
			padding:0;
			overflow: hidden;
		
		   }
		.acf-flexible-article-grid{
			@include xy-grid();
			@include flex-align($x:center, $y:stretch);
			&.collapsed{
				margin: 0 15px;
				
				article{
					@include xy-cell(12,$gutters:0);
					&.onethird-width{
						@include xy-cell(4,$gutters:0)
					}
					&.twothirds-width{
						@include xy-cell(8,$gutters:0)
					}
					&.half-width{
						@include xy-cell(6,$gutters:0)
					}
					&.full-width{
						@include xy-cell(12,$gutters:0)
					}
					&.auto-width{
						@include xy-cell(auto,$gutters:0)
					}
				
				}
			}
			.section-header{
				@include xy-cell(12);
				padding-left:0.24rem;
				
			  }
			  article {
				background-size:cover;
				background-position: center;
				background-repeat: no-repeat;
				@include xy-cell(12);
				min-height:300px;
		   
				@include breakpoint(large) {  
				  min-height: unset;
				 
				&.onethird-width{
					@include xy-cell(4)
				}
				&.twothirds-width{
					@include xy-cell(8)
				}
				&.half-width{
					@include xy-cell(6)
				}
				&.full-width{
					@include xy-cell(12)
				}
				&.auto-width{
					@include xy-cell(auto)
				}
				
			  }
				.article-padding{
					@each $breakpoint, $size in $grid-margin-gutters {
						@include breakpoint($breakpoint) {
						  padding: $size;
						}
					}
				}
				
				header{
				  @include breakpoint(small) {
					@include xy-cell(12,$gutters:0);
					
				  }
				  @include breakpoint(medium) {
				  @include xy-cell(12,$gutters:0);
				}
			  }
			  .header-image{
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				padding-bottom:40%;
				width:100%;
			  }
				.article-icon{
				  margin-bottom:$global-margin;
				}
				.entry-content{
				  @include xy-cell(auto,$gutters:0);
				}

			  } 

		}
	}
}
