.acf-tab{
	.acf-tab-container {
		@include xy-grid-container;
		&.alignfull{
		  margin-left: calc( -50vw + 50% );
		  margin-right: calc( -50vw  + 500%  );
		  max-width: 100vw;
		  padding-left: 0;
		  padding-right: 0;
		}
		.acf-tab-grid{
			@include xy-grid;
			.acf-tab-content{
				@include xy-cell(12);
				
			}
		}
	}
}
.tabs{
	@each $color, $code in $foundation-palette {

		
	.#{$color} {
	 a {

		color:color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance);
	  background:$code;
	  &:hover {
		background: scale-color( $code, $lightness: 20%) ;
		color:color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance);
	  }
  
	  &:focus,
	  &[aria-selected='true'] {
		background: scale-color( $code, $lightness: 20%) ;
		color:color-pick-contrast($code, $colors: ($white, $black, $primary-color, $secondary-color), $tolerance: $global-color-pick-contrast-tolerance);
	  }
	}
	
	}
}

.tabs-content{

}
}
