// Page header
.front-hero {
  background: $white;
  .header-grid {
    @include xy-grid;
    .header-content {
      @include breakpoint(small) {
        @include xy-cell(12,$gutters:0);
      }
      @include breakpoint(medium) {
        @include xy-cell(12,$gutters:0);
      }
      
      .header-image {
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include breakpoint(small) {
          padding-bottom: 100%;
        }
        @include breakpoint(medium) {
          padding-bottom: 0;
          height: 100%;
        }
      }
    }
  }

}

// Intro
.intro {
  @include xy-grid-container;
  @include xy-grid;
  @include flex-align($x:center, $y:top);

  .fp-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);

    }
  }
}