//GLOBAL
//Section color set but no article color
section {
  &.primary-color{
    background-color: $primary-color;
    color:$white;
    article .entry-header, article .entry-title, article .entry-footer, article .entry-content{
      color: $white;
    }
    article a:not(.button){
      color: $light-gray;
    }
  }
  &.secondary-color {
    background-color: $secondary-color;
    article .entry-header, article .entry-title, article .entry-footer, article .entry-content{
      color: $white;
    }
    article a:not(.button){
      color: $light-gray;
    }
  }
  &.white {
    background-color: $white;
    article .entry-header, article .entry-title, article .entry-footer, article .entry-content{
      color: $black;
    }
    article a:not(.button){
      color: $primary-color;
    }
  }
  &.dark-gray {
    background-color: $dark-gray;
    article .entry-header, article .entry-title, article .entry-footer, article .entry-content{
      color: $white;
    }
    article a:not(.button){
      color: $light-gray;
    }
  }
  &.medium-gray{
    background-color: $medium-gray;
    article .entry-header, article .entry-title, article .entry-footer, article .entry-content{
      color: $white;
    }
    article a:not(.button){
      color: $primary-color;
    }
  }
  &.light-gray{
    background-color: $light-gray;
    article .entry-header, article .entry-title, article .entry-footer, article .entry-content{
      color: $dark-gray;
    }
    article a:not(.button){
      color: $primary-color;
    }
  }
  &.transparent{
    background-color: transparent;
    article .entry-header, article .entry-title, article .entry-footer, article .entry-content{
      color: $dark-gray;
    }
    article a:not(.button){
      color: $secondary-color;
    }
  }
}
//Section color and article color set
section article {
  &.primary-color{
    background-color: $primary-color;
  
    .entry-header, .entry-title, .entry-content, .entry-footer{
      color: $white;
    }
    a:not(.button){
      color: $primary-color;
    }
    }
  &.secondary-color {
    background-color: $secondary-color;
    .entry-header, .entry-title, .entry-content, .entry-footer{
      color: $white;
    }
    a:not(.button){
      color: $light-gray;
    }
  }
  &.white {
    background-color: $white;
    .entry-header, .entry-title, .entry-content, .entry-footer{
      color: $black;
    }
    a:not(.button){
      color: $primary-color;
    }
  }
  &.dark-gray {
    background-color: $dark-gray;
    .entry-header, .entry-title, .entry-content, .entry-footer{
      color: $white;
    }
    a:not(.button){
      color: $light-gray;
    }
  }
  &.medium-gray{
    background-color: $medium-gray;
    .entry-header, .entry-title, .entry-content, .entry-footer{
      color: $white;
    }
    a:not(.button){
      color: $primary-color;
    }
  }
  &.light-gray{
    background-color: $light-gray;
    .entry-header, .entry-title, .entry-content, .entry-footer{
      color: $dark-gray,
    }
    a:not(.button){
      color: $primary-color;
    }
  }
}

section, article {
  &.background-image {
    .entry-header, .entry-title, .entry-content, .entry-footer {
      color: $white;
    }
    a:not(.button) { color: $white;}
  }
}

h1,h2,h3,h4,h5,h6 {
  &.primary-color{color: $primary-color;}
  &.secondary-color{color: $secondary-color;}
  &.white{color: $white;}
  &.dark-gray{color: $dark-gray;}
  &.medium-gray{color: $medium-gray;}
  &.light-gray{color: $light-gray;}
}

// FLEXIBLE LAYOUTS
.flexible-layout-article-outer-container {
  .flexible-layout-article-container {
    @include xy-grid-container;
    .flexible-layout-article-grid {
      position: relative;
      @include xy-grid();
      @include flex-align($x:center, $y:stretch);
      padding:0;
      .section-header{
        @include xy-cell(12);
      }
  
   
    
        .article-container{
          position: relative;
          @include xy-grid(); 
          margin-bottom: $global-margin;
          @include xy-cell(12,$gutters:0);
         @include breakpoint(medium) {
          @include xy-cell(6,$gutters:0);
         }
        }
       
        article:nth-of-type(odd){
          @include flex-align($x:right, $y:top);

        }
        article:nth-of-type(even){
          @include flex-align($x:left, $y:top);
        
        }
      
        article {
          @include xy-grid(); 
          position: relative;
        
          background-size:cover;
          flex:1 100%;
          min-height:300px;
     
          @include breakpoint(medium) {  
            flex:1 50%;  
            min-height: unset;
           
          }
          &.half-width{
        
            flex:1 50%;
          }
          
          &.full-width{
        
            flex:1 100%;
          }
          &.auto{
        
            flex:1 auto;
          }

       
          .article-padding{
            padding:$global-padding*2;
            @include breakpoint(medium) {  
              padding: 90px 60px 105px;
            }
            @include breakpoint(large) {    
             
            }
         
          }
          .article-grid{
            @include xy-grid(); 
           
          
          }
          header{
            @include breakpoint(small) {
              @include xy-cell(12,$gutters:0);
              
            }
            @include breakpoint(medium) {
            @include xy-cell(12,$gutters:0);
          }
        }
        .header-image{
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          padding-bottom:40%;
          width:100%;
        }
          .article-icon{
            margin-bottom:$global-margin;
          }
          .entry-content{
            @include xy-cell(auto,$gutters:0);
          }
          .embed-container{
            position: relative; 
          
          }
        
        } 
        .full-width .article-grid{
          flex:1 100%;
          max-width: unset;
        }
      }
    
}
}

//CTA
.cta-container{
  @include xy-grid-container;
  margin-top:$global-margin;
  .cta{
  padding:90px 60px 105px;
  .section-header{
    margin-bottom:$global-margin*2;
  }
  .cta-grid{
    @include xy-grid();
  
    @include flex-align($x:left, $y:top);
    @include xy-cell(12);
    article{
    flex:1;
    }
  }
}
}
  //Shortcode

  .shortcode-container {
    &.align-normal {
      @include xy-grid-container;
    }

  
    .shortcode-grid {
      @include xy-grid();
      @include flex-align($x:center, $y:top);

      &.no-padding {
        padding-top:0;
        padding-bottom:0;
      }
        
    &.small-padding {
      padding-top: $global-padding;
      padding-bottom: $global-padding;
    }
    &.large-padding {
      padding-top: $global-padding*2;
      padding-bottom: $global-padding*2;
    }
  
      .shortcode-content {
        @include xy-cell(10,$gutters: 0);
        text-align: center;
        header{
          text-transform: uppercase;
        }
      }
    }
  }


  // ACF ACCORDION
.accordion-container {
  @include xy-grid-container;
}

.accordion-grid {
@include xy-grid();
@include flex-align($x:left);
padding: 1rem 0;
}



.accordion-holder {
@include breakpoint(small) {
  @include xy-cell(12);
}

.accordion {
  @include accordion-container($primary-color);


  .accordion-item {
    border-bottom: 10px solid transparent;

    .accordion-title,
    .accordion-content {
      text-align: left;
      padding-top: 1rem;
    }

    .accordion-title {
      background-color: $primary-color;
      color:$white;
    }

    .category {
      @include show-for(medium);
      position: absolute;
      color: $secondary-color;
      padding: 1rem;
      z-index: 1;
      text-transform: uppercase;

    }

    .accordion-title:before {
      font-size: 3rem;
      font-weight: bold;
      color: $white;
      text-align: center;
      vertical-align: middle;
      width: 3.1rem;
      height: 100%;
      padding: 0;
      margin-top: 0;
      right: 0;
      top:0;
      background-color: $primary-color;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .accordion-title {
      font-family: $header-font-family;

      @include breakpoint(small) {
        font-size: rem-calc(12);
        padding: 1rem 3.5rem 1rem 2rem;
      }

      @include breakpoint(medium) {
        font-size: rem-calc(18);
        padding: 1rem 2rem;
      }
    }
  }
}
}
