
// FLEXIBLE LAYOUTS
.flexible-layout-article-outer-container {
  &.cell-background-image, .cell-background-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
  }
  &.cell-background-image-contain, .cell-background-image {
    background-size: 80%;
  }

.flexible-layout-article-container {

  &.align-normal {
    @include xy-grid-container();
    @include xy-grid();
    @include flex-align($x:center, $y:top);
  }
  &.align-inset {
    @include xy-grid-container();
    @include breakpoint(medium) {
    @include xy-grid-container(1000px);
    }
  }
  
  .flexible-layout-article-grid {
    @include xy-grid();
    @include flex-align($x:center, $y:top);
    width:100%;

    &.small-padding {
      padding-top: $global-padding;
      padding-bottom: $global-padding;
    }
  
    &.large-padding {
      padding-top: $global-padding*3;
      padding-bottom: $global-padding*3;
    }

    .header-image-container{
      @include flex-align($x:center, $y:top);
     @include xy-grid();
     width:100%;
     .header-image-content{
      @include xy-cell(4);
      @include breakpoint(medium) {
      @include xy-cell(8);
      }
     }

    .header-image {
      width:100%;
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom:100%;
     
    }
  }
  }

  .section-header, .section-content {
    @include breakpoint(medium) {
    @include xy-cell(12);
    }
    text-align: center;
    margin: 0 0 $global-margin 0;
  }

  $blockgrid: 
  "one-column-small-one-column-large" 1 1 1,
  "one-column-small-two-columns-large" 1 2 2,
  "one-column-small-three-columns-large" 1 3 3,
  "one-column-small-four-columns-large" 1 2 4,
  "two-columns-small-one-column-large" 2 2 1,
  "two-columns-small-two-columns-large" 2 2 2,
  "two-columns-small-three-columns-large" 2 3 3,
  "two-columns-small-four-columns-large" 2 2 4,
  "two-columns-small-five-columns-large" 2 5 5,
  "three-columns-small-one-column-large" 3 3 1,
  "three-columns-small-two-columns-large" 3 3 2,
  "three-columns-small-three-columns-large" 3 3 3,
  ;
  @each $name, $small-columns, $medium-columns, $large-columns in $blockgrid {
   .flexible-layout-article-#{$name}{
    @include xy-grid();
    width:100%;
      @include breakpoint(small) {
        @include xy-grid-layout($small-columns, '.flexible-item', $output: (size gutters));
      }
      @include breakpoint(medium) {
        @include xy-grid-layout($medium-columns, '.flexible-item',  $output: (size gutters));
       }
    @include breakpoint(large) {
      @include xy-grid-layout($large-columns, '.flexible-item', $output: (size gutters));
      }
    }
  }




  img{
    
    padding: 1rem 3rem; 
  }

  .mobile-default {
    @include breakpoint(small only) {
      order: 3;
    }
  }

  .mobile-first {
    @include breakpoint(small only) {
      order: 1;
    }
  }

  .mobile-second {
    @include breakpoint(small only) {
      order: 2;
    }
  }

  .mobile-third {
    @include breakpoint(small only) {
      order: 3;
    }
  }



article.align-top-left {
    @include flex-align($y:top);
    @include flex-align-self($y:stretch);
    text-align: left;
   
  }
  
  article.align-top-center {
    @include flex-align($y:middle);
    @include flex-align-self($y:stretch);
    text-align: center;
  
  
  }
  
  article.align-top-right {
    @include flex-align($y:stretch, $x:right);
    text-align: right;
  }
  
  article.align-middle-left {
    @include flex-align($y:top);
    @include flex-align-self($y:middle);
    text-align: left;
  }
  
  article.align-middle-center {
    @include flex-align($y:middle);
    @include flex-align-self($y:middle);
    text-align: center;
  }
  
  article.align-middle-right {
    @include flex-align($y:bottom);
    @include flex-align-self($y:middle);
    text-align: right;
  }
  
  article.align-bottom-left {
    @include flex-align($y:top);
    @include flex-align-self($y:bottom);
    text-align: left;
  }
  
  article.align-bottom-center {
    @include flex-align($y:middle);
    @include flex-align-self($y:bottom);
    text-align: center;
  }
  
  article.align-bottom-right {
    @include flex-align($y:bottom);
    @include flex-align-self($y:bottom);
    text-align: right;
  }
  
  
  .entry-footer.align-top-left {
    text-align: left;
  }
  
  .entry-footer.align-top-center {
    @include flex-align($y:top, $x:center);
    text-align: center;
  
  }
  
  .entry-footer.align-top-right {
    @include flex-align($x:right);
  }
  
  .entry-footer.align-middle-left {
    @include flex-align($y:bottom);
  }
  
  .entry-footer.align-middle-center {
    @include flex-align($x:center);
  }
  
  .entry-footer.align-middle-right {
    @include flex-align($x:right);
  }
  
  .entry-footer.align-bottom-left {
    @include flex-align-self(bottom);
    text-align: right;
  }
  
  .entry-footer.align-bottom-center {
    @include flex-align($x:center);
  }
  
  .entry-footer.align-bottom-right {
    @include flex-align($x:right);
  }

  




  
  article {
    &.small-padded-text {
      p,
      h1,
      h2,
      h3,
      h4,
      h5 {
        padding: .4rem;
      }
    }
  
    &.large-padded-text {
  
      p,
      h1,
      h2,
      h3,
      h4,
      h5 {
        padding: 1rem;
      }
    }
  }
}
}

  //Shortcode

  .shortcode-container {
    &.align-normal {
      @include xy-grid-container;
    }

  
    .shortcode-grid {
      @include xy-grid();
      @include flex-align($x:center, $y:top);

      &.no-padding {
        padding-top:0;
        padding-bottom:0;
      }
        
    &.small-padding {
      padding-top: $global-padding;
      padding-bottom: $global-padding;
    }
    &.large-padding {
      padding-top: $global-padding*2;
      padding-bottom: $global-padding*2;
    }
  
      .shortcode-content {
        @include xy-cell(10,$gutters: 0);
        text-align: center;
        header{
          text-transform: uppercase;
        }
      }
    }
  }
