.footer{
  background-position: center;
  background-repeat: no-repeat;
.footer-container {
  @include xy-grid-container;
  margin-top: rem-calc(60);
}

.footer-grid {
  @include xy-grid;
  @include flex-align($x:center, $y:middle);
  padding: rem-calc(30) 0;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  .footer-links{
    @include xy-grid;
    a{
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
}